<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">

      <a class="navbar-brand" routerLink="/home">
        <img src="assets\login-logo.png" class="img-rounded">
      </a>
      <ion-content>
        <ion-list id="inbox-list">
    
            <li class="nav-item active">
              <button type="button" class="btn btn-link" (click)="goToHome()" style="color:whitesmoke;"> <li class="breadcrumb-item" aria-current="page"><i class="fas fa-home"></i>&nbsp; Home</li></button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-link" (click)="profile(artist.id)" style="color: white;"> <li class="breadcrumb-item" aria-current="page"><i class="fas fa-user"></i>&nbsp; Profile</li></button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-link" (click)="addNewEvent()" style="color: white;"> <li class="breadcrumb-item" aria-current="page"><i class="fas fa-plus"></i>&nbsp; Add new Event</li></button>
            </li>
           <li class="nav-item">
            <button routerLink="/audition" type="button" class="btn btn-link"   style="color: white;" ><li class="breadcrumb-item" aria-current="page"><i class="fas fa-star"></i>&nbsp; Audition</li></button>
            </li>
            <li class="nav-item">
              <button routerLink="/concert" type="button" class="btn btn-link"  style="color: white;" ><li class="breadcrumb-item" aria-current="page"><i class="fas fa-star"></i>&nbsp; Concert</li></button>
              </li>
              <li class="nav-item">
                <button routerLink="/show" type="button" class="btn btn-link"  style="color: white;" ><li class="breadcrumb-item" aria-current="page"><i class="fas fa-star"></i>&nbsp; Show</li></button>
                </li>
             
                <li class="nav-item">
                  <button  type="button" class="btn btn-link" (click)="logout()" style="color: white;" ><li class="breadcrumb-item" aria-current="page"><i class="fas fa-sign-out-alt"></i>&nbsp; Logout</li></button>
                 </li>
          
        
        </ion-list>

       
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
